<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>{{message}}</h1>
    <iframe src="/longpolling-client" width="100%" height="600px" frameborder="0"></iframe>
</body>
</html>